<div class="comment_container">
    {{#each comments}}
        <div class="comment_div">
            <div><img src={{image_url}} id="img-{{member_id}}"/></div>
            <div><p>{{comment_string}}</p></div>
        </div>
    {{/each}}
    <form id="newReply" action="/post/addComment" method="POST">
        <input type="text" name="id" value="{{post.id}}" class="hide">
        <input type="text" name="postString">        
        <input class="button-style" id="searchButton" type="submit" name="newReplyBtn" value="comment">
    </form>
    <div class="hide-comment" onclick="hideComments({{post.id}})"><span>hide comments</span></div>
</div>