<div class="post-div" id={{post.id}}>
    <div class='post-frame'>
        <div class="post-image">
            <a href="/othersPost"> <img src={{post.image_url}} height="80px" width="80px"> </a>
        </div>
        <div class="post-content">
            <div class="post-header">
                <div class="post-subject">{{post.subject_line}}</div>
                <div class="post-topic">{{post.topic_name}}</div>
            </div>
            <div class="post-body">
                <div class="post-message">{{post.post_string}}</div>
                <div class='post-bottom'>
                    <div class='post-date'>{{post.date}}</div>
                    <span onclick="toggleShow({{{post.id}}})">{{replies}} Replies</span>
                    <div class='post-replies hide' id="comments_{{post.id}}">

                            {{#each comments}}
                                {{>postComment id=post.id}}
                            {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>