<div class="post-div" id={{id}}>
    <div class='post-frame'>
        <div class="post-image">
            <img src={{ImageUrl}} height="80px" width="80px">
        </div>
        <div class="post-content">
            <div class="post-header">
                <div class="post-subject">{{Subject}}</div>
                <div class="post-topic">{{Topic}}</div>
            </div>
            <div class="post-body">
                <div class="post-message">{{Message}}</div>
                <div class='post-bottom'>
                    <div class='post-date'>{{Date}}</div>
                    <div class='post-replies'>
                        <div>
                            <span onclick="toggleShow">{{Replies}} Replies</span>
                            <form id="newReply" action="/post/newReply" method="POST">
                                <input type="text" name="postString">        
                                <input type="submit" name="newReplyBtn" value="newReply">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>