<div id="post">
    <div id='post-frame'>
        <div id="post-image">
            <img src={{ImageUrl}} height="80px" width="80px">
        </div>
        <div id="post-content">
            <div id="post-header">
                <div id="post-topic">{{Topic}}</div>
                <div id="post-subject">{{Subject}}</div>
            </div>
            <div id="post-body">
                <div id="post-message">{{Message}}</div>
                <div id='post-bottom'>
                    <div id='post-date'>{{Date}}</div>
                    <div id='post-replies'>
                        <div>
                            <span>{{Replies}} Replies</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>