 <div id="profileHeaderFragment">
    <img class="userHeaderPicture" src="{{user.image_url}}"/>
    <p class="userNameHeaderText">{{user.first_name}} {{user.last_name}}</p>
    <p class="userHeaderDescription">{{user.description}}</p>
    <p class="userHeaderCountry">{{user.country}}</p> 
</div>