{{>headerBar}}
<div id="messageDiv">
    <div id="message_list">
        {{#each topics}}
            {{#if this.topic.active}}
            <div class="msg_list_item active">
            {{else}}
            <div class="msg_list_item" onclick="window.location='/message?topicId={{this.topic.id}}';">
            {{/if}}
                <img src="{{this.topic.attender_imageurl}}" class="circular_img"/>
                <div class="info">
                    <span>{{this.topic.attender_name}}</span>
                    <span class="date">{{this.topic.date}}</span>
                    <p>{{this.topic.subject}}</p>
                </div>
            </div>
        {{/each}}

    </div>
    <div id="message_detail">
        {{#each messages}}
            <div class="reply_wrapper">
                <div class="reply_date grey_font">{{this.date}}</div>
                <div class="reply_div">
                    <img src="{{this.sender_imageurl}}" width="45px" height="45px" class="circular_img"/>
                    <div class="reply_info">
                        <span class="grey_font"><b>{{this.sender_name}} <span class="dot">&middot;</span> </b></span>
                        <span class="grey_font">{{this.time}}</span>
                        <p>{{this.message_string}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
        <form id="newMessageReply" action="/message/reply" method="POST">      
            <textarea name="message" rows="8" placeholder="Write a message..."></textarea>
            <input type="hidden" name="messageTopicId" value={{currentTopicId}}>
            <input type="submit" name="newMessageReplyBtn" value="Send">
        </form>
    </div>
</div>


{{!-- {{>headerBar}}
<div id="messageDiv">
    <div id="message_list">
        {{#each message}}
            <div class="msg_list_item">
                <img src="{{this.senderImg}}" class="circular_img"/>
                <div class="info">
                    <span>{{this.name}}</span>
                    <span class="date">{{this.date}}</span>
                    <p>{{this.title}}</p>
                </div>
            </div>
        {{/each}}

    </div>
    <div id="message_detail">
        {{#each reply}}
            <div class="reply_wrapper">
                <div class="reply_date grey_font">{{this.date}}</div>
                <div class="reply_div">
                    <img src="{{this.senderImg}}" width="45px" height="45px" class="circular_img"/>
                    <div class="reply_info">
                        <span class="grey_font"><b>{{this.sender}} <span class="dot">&middot;</span> </b></span>
                        <span class="grey_font">{{this.time}}</span>
                        <p>{{this.message}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
        <form id="newMessageReply" action="/message/reply" method="POST">      
            <textarea name="message" rows="8" placeholder="Write a message..."></textarea>
            <input type="submit" name="newMessageReplyBtn" value="Send">
        </form>
    </div>
</div> --}}
